.modal-perfil-usuario{
  .modal-body{
    .container{
      .row{
        .col{
          .profile-pic{
            .avatar{
              filter: drop-shadow(-4px 3px 10px rgba(0, 0, 0, 0.25));
              background-position: top center;
              background-repeat: no-repeat;
              background-size: cover;
              width: 100px;
              height: 100px;
              border-radius: 50%;
            }
          }
          .form-user-profile{
            .btn-update-user{
              background-color: #32A77A;
              border-color: #32A77A;
              color: #fff;
            }
          }
        }
      }
    }
  }

}