.list-games{
  background-color: #FFFFFF;
  border-radius: 10px;
  // max-width: 450px;
  .matches-list-container{
    .game-link{
      color: #000;
      .match-resume-cont{
        .date-container{
          background-color: #32A77A;
          color: white;
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .list-games{
    .matches-list-container{
      max-height: 70vh;
      overflow-y: scroll;
      border-radius: 10px;
    }
  }

} 