.vista-partido-container{
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  // height: 100%;
  
  h1{
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    width: 100%;
    padding: 10%;
    text-align: center;
    line-height: 50px;
  }
  
}

/* .icon-container{
  max-width: 75px;
} */
