header{
    
    background: url(https://django-playtogether-media.s3.us-east-2.amazonaws.com/assets/images/hero-mobile.png),no-repeat;
    // background: url(https://pt-media-s3.s3.us-east-2.amazonaws.com/assets/images/hero-mobile.png),no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    background-position: center,center;
}
.title{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
    text-align: center;
    color: #fff;
    margin-top: 60px;
    text-shadow: 5px 3px 4px rgba(0, 0, 0, 0.25);
}

//MEDIAS SCREEN DESKTOP
@media screen and (min-width:768px){
    header{
        background-image: url(https://django-playtogether-media.s3.us-east-2.amazonaws.com/assets/images/hero_img.jpg);
        // background-image: url(https://pt-media-s3.s3.us-east-2.amazonaws.com/assets/images/hero_img.jpg);
        background-repeat: no-repeat;
        background-position: center;
        height: 70vh;
        object-fit: cover;
    }
}

@media screen and (min-width:1024px){
    .hero-img{
        height: 100%;
        width: 100%;
    }
    .title{
        font-size: 45px;
        margin-left: 35px;
        margin-right: 35px;
        margin-top: 10%;
    }
}