.jugador{
  // width: 40%;
  height: 141px;
  position: relative;
  .user-img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .badge-player, .badge-player-right{
    background-color: #32A77A;
    transform: translate(-124%,-50%)!important;
  }
  
}

.cont-text{
  max-width: 90px;
}

.player-color{
  color: black;
  h5.username{
    font-size: 17px;
    font-weight: bold;
  }
  p.position{
    font-size: 14px;
  }
}
h5.username{
  font-size: 17px;
  font-weight: bold;
}
p.position{
  font-size: 14px;
}
.player-color:hover{
  color: black;
}

@media screen and (min-width:1024px){
  .jugador{
    height: 80px;
    .badge-player{
      
      transform: translate(-90%,-50%)!important;
    }
    .badge-player-right{
      transform: translate(-263%, -50%) !important;
    }
  }
  
  .player-color{
    h5.username{
      font-size: 19px;
      font-weight: bold;
    }
    p.position{
      font-size: 17px;
    }
  }
  .cont-text{
    max-width: 110px;
    width: 110px;
  }
}