*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
      font-family: 'Poppins', sans-serif;
  }
  a{
    color: white;
    text-decoration: none;
  }
 
  
  .button-call-to-mobile{
    background-color: #32A77A ;
    color: #FFF;
    font-style: normal;
    font-weight: bold;
  
  }
  .form-control:focus{
    border-color: #32A77A ;
}

.btn-primary:hover {
  color: #fff;
  background-color: #28804B ;
  border-color: #28804B ;
}
.alert-danger {
  font-size: 10px;
}