*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
      font-family: 'Poppins', sans-serif;
  }
  a{
    color: white;
    text-decoration: none;
  }
 
  
  .button-call-to-mobile{
    background-color: #32A77A ;
    color: #FFF;
    width: 80%;
    font-style: normal;
    font-weight: bold;
  
  }