.filter-games{
  background-color: #FFFFFF;
  border-radius: 10px;
  .badge-limpiar-filtros{
    width: fit-content;
    top:0;
    right: -80px;
    display: none;
  }
  .date-filter-container{
    .date-picker-container{
      background-color: #fff;
      .date-pick-container{
        border-radius: 5px;
        .date-picker{
          width: 90%;
        }
      }
    }
  }
  .type-category-filter-container{
   
    margin: 0 auto;
  }
}